<a href="https://colab.research.google.com/github/keter254/ADS-CodeWars/blob/SHEILA-KETER/Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Classification -predicted variable is categorical variable
#Fraud/Not Fraud,Default/not default,Yes/No
# we use calssifiers
import pandas 
data =pandas.read_csv("https://modcom.co.ke/data/datasets/pima.csv")
data.head(2)

,Children,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,Diabetic
1,1,85,66,29,0,26.6,0.351,31,Not Diabetic

In [3]:
data.describe()

,Children,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000

In [4]:
data.groupby('Outcome').size()

Outcome
Diabetic        268
Not Diabetic    500
dtype: int64

In [8]:
# Step 1:Split to X-Independent and Y-dependent variable
array=data.values

X=array[:,0:8] # 8 is not counted
Y=array[:,8]

In [9]:
# Step 2:split to training set and testint set
#We have 200 records,70% is uesd training the model,30% used in testing model(hideout)
from sklearn import model_selection
X_train,X_test,Y_train,Y_test=model_selection.train_test_split(X,Y,test_size=0.3,random_state=42)
#X_train consist of Children	Glucose	BloodPressure	SkinThickness	Insulin	BMI	DiabetesPedigreeFunction	Age-70%
#Y_train consist of Outcome  -70%

#X_test consist of Children	Glucose	BloodPressure	SkinThickness	Insulin	BMI	DiabetesPedigreeFunction	Age-30%
#Y_test consist of Outcome 30%

In [10]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
 

models = []
models.append(('KNN', KNeighborsClassifier()))
models.append(('DT', DecisionTreeClassifier()))
models.append(('GB', GradientBoostingClassifier()))
models.append(('RFR', RandomForestClassifier()))
models.append(('SVM', SVC()))

 

# KFOLD - Cross Validation
for name, model in models:
    kfold = model_selection.KFold(n_splits=10, random_state=42, shuffle=True)
    cv_results = model_selection.cross_val_score(model, X_train, Y_train, cv=kfold, scoring = 'accuracy')
    print(name, cv_results.mean())

KNN 0.7208944793850453
DT 0.7225017470300489
GB 0.7728162124388539
RFR 0.7691125087351502
SVM 0.759958071278826

In [11]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
 

models = []
models.append(('KNN', KNeighborsClassifier()))
models.append(('DT', DecisionTreeClassifier()))
models.append(('GB', GradientBoostingClassifier()))
models.append(('RFR', RandomForestClassifier()))
models.append(('SVM', SVC()))
models.append(('NB', GaussianNB()))
 

# KFOLD - Cross Validation
for name, model in models:
    kfold = model_selection.KFold(n_splits=10, random_state=42, shuffle=True)
    cv_results = model_selection.cross_val_score(model, X_train, Y_train, cv=kfold, scoring = 'accuracy')
    print(name, cv_results.mean())

KNN 0.7208944793850453
DT 0.7206848357791753
GB 0.7691125087351502
RFR 0.7616701607267645
SVM 0.759958071278826
NB 0.7507686932215234

In [18]:
# Step 3:Load Machine Learning Models/Algorithms
model=RandomForestClassifier()
model.fit(X_train,Y_train)
print('Training happens at this point..')

Training happens at this point..

In [14]:
# Step 4:Test the Model
predictions = model.predict(X_test)
#print('Model predictions',predictions)
#print('Actual Values',Y_test)

In [17]:
# Step : Get metrics using r squared
from sklearn.metrics import accuracy_score
print('Score', accuracy_score(Y_test,predictions))
# Unbalanced data,Data not well standardised,few records exist,some features might be noise

Score 0.7445887445887446

In [25]:
# 74% ci
person=[[3,144,69,40,100,23,0.677,42]]
outcome = model.predict(person)
print('The Outcome is likely to be',outcome)

The Outcome is likely to be ['Diabetic']